.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
  }
  .navbar a{
    cursor: pointer;
    margin-top: 5px !important;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-left: 20px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .button {
    padding: 10px 15px;
    background-color: white;
    color: #4A90E2; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #E0E0E0;
  }
  